<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB92mVwMyt78jhTV4qaQIU82HxpCt5J3A8</string>
	<key>GCM_SENDER_ID</key>
	<string>713831479275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskroute.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>routeapp-8ea1d</string>
	<key>STORAGE_BUCKET</key>
	<string>routeapp-8ea1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713831479275:ios:3db4ac84b95681aa74cbae</string>
</dict>
</plist>